<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!--https://stannesbelfield.instructure.com/courses/714/assignments/16265?module_item_id=41063-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <!--<script src="/script.js" defer></script>-->

    <!-- Image and text -->
    <a class="navbar-brand" href="https://www.stab.org">
      <img
        src="https://resources.finalsite.net/images/f_auto,q_auto,t_image_size_2/v1517848658/stab/kqjmji4mkskgiuukevmp/logo-footer.png"
        height="40"
        class="d-inline-block align-top"
        id="stab-logo"
      />
    </a>

    <h1 id="headline">SBL Rubric</h1>
  </head>
  <body>

    <table
      style="width:100%"
      class="table table-hover after-access"
      id="rubric-to-use"
    >
      <tbody>
        <tr id="question1">
          <td style="width:10%" id="category1" class="text-light">Listening</td>
          <td colspan="4">
            <div
              class="btn-group btn-group-toggle d-flex"
              data-toggle="buttons"
            >
              <label class="btn btn-outline-light" id="Option1-1">
                <input
                  type="radio"
                  name="options1"
                  id="option1-1"
                  autocomplete="off"
                />
                1
              </label>

              <label class="btn btn-outline-light">
                <input
                  type="radio"
                  name="options1"
                  id="option1-2"
                  autocomplete="off"
                />
                2
              </label>
              <label class="btn btn-outline-light">
                <input
                  type="radio"
                  name="options1"
                  id="option1-3"
                  autocomplete="off"
                />
                3
              </label>
              <label class="btn btn-outline-light">
                <input
                  type="radio"
                  name="options1"
                  id="option1-4"
                  autocomplete="off"
                />
                4
              </label>
            </div>
            <div id="response" style="width=25%">
              <div class="statement statement1" id="statement1-1">
                <span>
                  I can listen to a student when they are in distress.
                </span>
              </div>
              <div class="statement statement2" id="statement1-2">
                <span>
                  I can listen to a student when they are in distress and try to
                  support them by helping them problem-solve that particular
                  incident.
                </span>
              </div>
              <div class="statement statement3" id="statement1-3">
                <span>
                  I can see patterns that lead to student distress and start to
                  think of solutions to those issues.
                </span>
              </div>
              <div class="statement statement4" id="statement1-4">
                <span>
                  I can bring up these patterns and issues to my team,
                  department, and administration and start to organize changes
                  that help to remedy systematic issues that cause student
                  distress.
                </span>
              </div>
            </div>
          </td>
        </tr>

        <tr id="question2">
          <td id="category2" class="text-light">Difficult Conversations</td>
          <td colspan="4">
            <div
              class="btn-group btn-group-toggle d-flex"
              data-toggle="buttons"
            >
              <label class="btn btn-outline-light">
                <input
                  type="radio"
                  name="options2"
                  id="option2-1"
                  autocomplete="off"
                />
                1
              </label>
              <label class="btn btn-outline-light">
                <input
                  type="radio"
                  name="options2"
                  id="option2-2"
                  autocomplete="off"
                />
                2
              </label>
              <label class="btn btn-outline-light">
                <input
                  type="radio"
                  name="options2"
                  id="option2-3"
                  autocomplete="off"
                />
                3
              </label>
              <label class="btn btn-outline-light">
                <input
                  type="radio"
                  name="options2"
                  id="option2-4"
                  autocomplete="off"
                />
                4
              </label>
            </div>
            <div id="response2" style="width=25%">
              <div class="statement statement1" id="statement2-1">
                <span>
                  I am open to a conversation about DEIB topics, if a student or
                  adult brings them up.
                </span>
              </div>
              <div class="statement statement2" id="statement2-2">
                <span>
                  I am open to a conversation about DEIB topics and ask
                  questions about how to improve my work with my community.
                </span>
              </div>
              <div class="statement statement3" id="statement2-3">
                <span>
                  I willingly take risks in my classroom to improve my work in
                  DEIB, being open to mistakes.
                </span>
              </div>
              <div class="statement statement4" id="statement2-4">
                <span>
                  I willingly take risks in my community to improve my work in
                  DEIB and am willing to make public mistakes.
                </span>
              </div>
            </div>
          </td>
        </tr>

        <tr id="question3">
          <td id="category3" class="text-light">Opting In</td>
          <td colspan="4">
            <div
              class="btn-group btn-group-toggle  d-flex"
              data-toggle="buttons"
            >
              <label class="btn btn-outline-light">
                <input
                  type="radio"
                  name="options3"
                  id="option3-1"
                  autocomplete="off"
                />
                1
              </label>
              <label class="btn btn-outline-light">
                <input
                  type="radio"
                  name="options3"
                  id="option3-2"
                  autocomplete="off"
                />
                2
              </label>
              <label class="btn btn-outline-light">
                <input
                  type="radio"
                  name="options3"
                  id="option3-3"
                  autocomplete="off"
                />
                3
              </label>
              <label class="btn btn-outline-light">
                <input
                  type="radio"
                  name="options3"
                  id="option3-4"
                  autocomplete="off"
                />
                4
              </label>
            </div>
            <div id="response3" style="width=25%">
              <div class="statement statement1" id="statement3-1">
                <span>
                  I can opt-in to a situation when I see something with my own
                  eyes.
                </span>
              </div>
              <div class="statement statement2" id="statement3-2">
                <span>
                  I can opt-in to any situation, ask clarifying questions, and
                  help a student feel heard in that moment.
                </span>
              </div>
              <div class="statement statement3" id="statement3-3">
                <span>
                  I can opt-in to helping my community with DEIB issues if it
                  feels like a good safe time to bring up an issue.
                </span>
              </div>
              <div class="statement statement4" id="statement3-4">
                <span>
                  Ican opt-in every time for issues in DEIB, even when it feels
                  hard, scary, or unsafe. After all, think about how my students
                  feel.
                </span>
              </div>
            </div>
          </td>
        </tr>
        <tr id="question4">
          <td id="category4" class="text-light">Bias & Privilege</td>
          <td colspan="4">
            <div
              class="btn-group btn-group-toggle d-flex"
              data-toggle="buttons"
            >
              <label class="btn btn-outline-light">
                <input
                  type="radio"
                  name="options4"
                  id="option4-1"
                  autocomplete="off"
                />
                1
              </label>
              <label class="btn btn-outline-light">
                <input
                  type="radio"
                  name="options4"
                  id="option4-2"
                  autocomplete="off"
                />
                2
              </label>
              <label class="btn btn-outline-light">
                <input
                  type="radio"
                  name="options4"
                  id="option4-3"
                  autocomplete="off"
                />
                3
              </label>
              <label class="btn btn-outline-light">
                <input
                  type="radio"
                  name="options4"
                  id="option4-4"
                  autocomplete="off"
                />
                4
              </label>
            </div>
            <div id="response4" style="width=25%">
              <div class="statement statement1" id="statement4-1">
                <span>
                  I can treat everyone in school as if they are equal with equal
                  experiences.
                </span>
              </div>
              <div class="statement statement2" id="statement4-2">
                <span>
                  I can begin to understand my own bias and privilege and what
                  my particular lens brings to my teaching.
                </span>
              </div>
              <div class="statement statement3" id="statement4-3">
                <span>
                  I can recognize and openly name my bias and privilege and
                  adjust my teaching and practice accordingly.
                </span>
              </div>
              <div class="statement statement4" id="statement4-4">
                <span>
                  I am willing to recognize privilege and power as it exists in
                  myself and my community. I work to dismantle systemic racism.
                </span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!--<button id="submit_form">Submit</button>  -->
    <button
      id="submit_form"
      type="button"
      class="btn btn-outline-light after-access"
    >
      Submit!
    </button>

    
    <div class="form__group">
      <input
        type="text"
        id="rubric-code"
        placeholder="Enter Rubric Code"
      /> 
      <label for="rubric-code" class="form__label">Enter Rubric Code</label>
    </div>
    
    <div class="buttons"> 
      <button id="access-rubric" type="button" class="btn btn-outline-light">
        Use typed Code!
      </button>
      <button id="make-rubric" type="button" class="btn btn-outline-light">
        Make a Rubric!
      </button>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <script>
      $(".after-access").hide();
      //making rubric
      $("#make-rubric").click(function() {
        //go to makerubric.html page

        window.location = "https://stab-sbl.glitch.me/makeRubric";
      });

      $("#access-rubric").click(function() {
        $(".form__group").hide();        
        $("#headline").hide();
        $(".buttons").hide();
        $(".after-access").show();
        //use rubric code
        var code = $("#rubric-code").val();
        console.log(code);
        $.get("/getRubric", code, function(data) {
          //           console.log(data[0].rubricID);

          //replacing text elements
          $("#category1").html(data[0].category1);
          $("#category2").html(data[0].category2);
          $("#category3").html(data[0].category3);
          $("#category4").html(data[0].category4);

          $("#statement1-1").html(data[0].r1c1);
          $("#statement1-2").html(data[0].r1c2);
          $("#statement1-3").html(data[0].r1c3);
          $("#statement1-4").html(data[0].r1c4);

          $("#statement2-1").html(data[0].r2c1);
          $("#statement2-2").html(data[0].r2c2);
          $("#statement2-3").html(data[0].r2c3);
          $("#statement2-4").html(data[0].r2c4);

          $("#statement3-1").html(data[0].r3c1);
          $("#statement3-2").html(data[0].r3c2);
          $("#statement3-3").html(data[0].r3c3);
          $("#statement3-4").html(data[0].r3c4);

          $("#statement4-1").html(data[0].r4c1);
          $("#statement4-2").html(data[0].r4c2);
          $("#statement4-3").html(data[0].r4c3);
          $("#statement4-4").html(data[0].r4c4);
        });
      });

      //responding to rubric
      $("#submit_form").click(function() {
        console.log("submit");
        var categoryRes1;
        $("[name='options1']").each(function(i) {
          if ($(this).is(":checked")) categoryRes1 = i + 1;
        });

        var categoryRes2;
        $("[name='options2']").each(function(i) {
          if ($(this).is(":checked")) categoryRes2 = i + 1;
        });

        var categoryRes3;
        $("[name='options3']").each(function(i) {
          if ($(this).is(":checked")) categoryRes3 = i + 1;
        });

        var categoryRes4;
        $("[name='options4']").each(function(i) {
          if ($(this).is(":checked")) categoryRes4 = i + 1;
        });

        console.log(
          categoryRes1 +
            " " +
            categoryRes2 +
            " " +
            categoryRes3 +
            " " +
            categoryRes4
        );

        console.log("HAHA... you thought we would record this data... but no");
        location.reload();
      });
    </script>
  </body>
</html>
