<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!--https://stannesbelfield.instructure.com/courses/714/assignments/16265?module_item_id=41063-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>

    <title>SBL Rubric</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <!--<script src="/script.js" defer></script>-->

    <!-- Image and text -->
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="https://www.stab.org">
        <img
          src="https://resources.finalsite.net/images/f_auto,q_auto,t_image_size_2/v1517848658/stab/kqjmji4mkskgiuukevmp/logo-footer.png"
          height="40"
          class="d-inline-block align-top"
          id="stab-logo"
        />
      </a>
    </nav>
  </head>
  <body>
    <header>
      
    </header>

    <main></main>
    
    <table style="width:100%" class="table table-hover" id="rubric-to-edit">
      <tbody>
        <tr>
          <td style="width:10%"><input type="text" id="category1" placeholder="Name Category 1"/></td>
          <td><input type="text" id="r1c1" placeholder="Enter Criteria for Receiving 1"/></td>
          <td><input type="text" id="r1c2" placeholder="Enter Criteria for Receiving 2"/></td>
          <td ><input type="text" id="r1c3" placeholder="Enter Criteria for Receiving 3"/></td>
          <td ><input type="text" id="r1c4" placeholder="Enter Criteria for Receiving 4"/></td>
        </tr>

        <tr>
          <td style="width:10%"><input type="text" id="category2" placeholder="Name Category 2"/></td>
          <td><input type="text" id="r2c1" placeholder="Enter Criteria for Receiving 1"/></td>
          <td><input type="text" id="r2c2" placeholder="Enter Criteria for Receiving 2"/></td>
          <td><input type="text" id="r2c3" placeholder="Enter Criteria for Receiving 3"/></td>
          <td><input type="text" id="r2c4" placeholder="Enter Criteria for Receiving 4"/></td>
        </tr>

        <tr>
          <td style="width:10%"><input type="text" id="category3" placeholder="Name Category 3"/></td>
          <td><input type="text" id="r3c1" placeholder="Enter Criteria for Receiving 1"/></td>
          <td><input type="text" id="r3c2" placeholder="Enter Criteria for Receiving 2"/></td>
          <td><input type="text" id="r3c3" placeholder="Enter Criteria for Receiving 3"/></td>
          <td ><input type="text" id="r3c4" placeholder="Enter Criteria for Receiving 4"/></td>
        </tr>
        <tr>
          <td style="width:10%"><input type="text" id="category4" placeholder="Name Category 4"/></td>
          <td><input type="text" id="r4c1" placeholder="Enter Criteria for Receiving 1"/></td>
          <td><input type="text" id="r4c2" placeholder="Enter Criteria for Receiving 2"/></td>
          <td><input type="text" id="r4c3" placeholder="Enter Criteria for Receiving 3"/></td>
          <td><input type="text" id="r4c4" placeholder="Enter Criteria for Receiving 4"/></td>
        </tr>
      </tbody>
    </table>

    <input class="text-center" style="width:278px"  type="text" id="rubricID" placeholder="Create Room Code"/>
    <button id="make-rubric" class="btn btn-outline-light">Create This Rubric!</button>
    <button id="exit" class="btn btn-outline-light">Return to Main!</button>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script>
      
    </script>
 
   <script type="text/javascript">
     
     $("#exit").click(function() {
       window.location = "https://stab-sbl.glitch.me";
     });

    $("#make-rubric").click(function() {
      function validateForm() {
        var isValid = true;
        $(".form-control").each(function() {
          if ($(this).val() === "") isValid = false;
        });
        $(".chosen-select").each(function() {
          if ($(this).val() === "") isValid = false;
        });
        return isValid;
      }

      //if (validateForm() == true) {
        var userData = {
          rubricID: $("#rubricID").val(),
          
          category1: $("#category1").val(),
          r1c1: $("#r1c1").val(),
          r1c2: $("#r1c2").val(),
          r1c3: $("#r1c3").val(),
          r1c4: $("#r1c4").val(),
          
          category2: $("#category2").val(),
          r2c1: $("#r2c1").val(),
          r2c2: $("#r2c2").val(),
          r2c3: $("#r2c3").val(),
          r2c4: $("#r2c4").val(),
          
          category3: $("#category3").val(),
          r3c1: $("#r3c1").val(),
          r3c2: $("#r3c2").val(),
          r3c3: $("#r3c3").val(),
          r3c4: $("#r3c4").val(),
         
          category4: $("#category4").val(),
          r4c1: $("#r4c1").val(),
          r4c2: $("#r4c2").val(),
          r4c3: $("#r4c3").val(),
          r4c4: $("#r4c4").val(),
        };

          //console.log(JSON.stringify(userData));

          $.post("/addRubric", userData, function(data) {
            if(data=="alert") alert("You have entered a code that already exists!");
            else window.location = "https://stab-sbl.glitch.me";
          });
          

        //} else {
          //alert("Please fill out all fields before submitting!");
        //}
        // return false;
      
      
      });
 
    </script>
  
  
  
  
  
  
  </body>
</html>
